brew "git"
brew "chezmoi"
brew "ghq"
brew "peco"
brew "asdf"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "f3"
cask "1password-cli"

{{ if eq .chezmoi.os "darwin" }}
brew "cocoapods"

{{ end }}