brew "git"
brew "chezmoi"
brew "ghq"
brew "peco"
brew "f3"
brew "sheldon"
cask "1password-cli"

brew "neovim"
brew "ripgrep"
brew "fd"
brew "fzf"
brew "lazygit"
brew "difftastic"
brew "yazi"
brew "zoxide"
brew "starship"
brew "navi"
brew "mise"
brew "bat"
brew "eza"

{{ if eq .chezmoi.os "darwin" }}
brew "cocoapods"

{{ end }}

