# ===== Core =====
brew "git"
brew "chezmoi"

# ===== Dev =====
brew "lazygit"
brew "difftastic"
brew "ghq"
brew "mise"
brew "gh"

# ===== CLI UX =====
brew "ripgrep"
brew "fd"
brew "fzf"
brew "peco"
brew "navi"
brew "yazi"
brew "eza"
brew "bat"
brew "zoxide"
brew "starship"
brew "sheldon"
brew "zsh"
brew "neovim"

# ===== System =====
brew "f3"

# ===== Security =====
cask "1password-cli"

# ===== macOS only =====
{{ if eq .chezmoi.os "darwin" }}
brew "cocoapods"
# WindowsはWindows版をwingetで導入する方針なのでbrewで入れるのはmacOSのみ
cask "wezterm"
{{ end }}
