[user]
  name = k-ito-cat
  email = 91656115+k-ito-cat@users.noreply.github.com

[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global

[ghq]
  root = ~/src

# difftasticをデフォルトで使用する
[diff]
  external = difft

{{ if eq .chezmoi.os "darwin" }}
[credential]
  helper = osxkeychain
{{ end }}
