[user]
  name = {{ output "op" "item" "get" "GitUser" "--vault" "Development" "--field" "name" | trim }}
  email = {{ output "op" "item" "get" "GitUser" "--vault" "Development" "--field" "email" | trim }}

[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global

[ghq]
	root = ~/src

[credential]
	helper = osxkeychain