# ===== Aliases =====
# 1Password CLI サインインコマンドのエイリアス　
alias ops="eval \"\$(op signin)\""

# ===== PATH =====
[ -f "$HOME/.asdf/asdf.sh" ] && . "$HOME/.asdf/asdf.sh"
[ -f "$HOME/.asdf/completions/asdf.zsh" ] && . "$HOME/.asdf/completions/asdf.zsh"

{{ if eq .chezmoi.os "darwin" }}
export PATH="/Applications/Cursor.app/Contents/Resources/app/bin:$PATH"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"

# bun
export PATH="$HOME/.bun/bin:$PATH"

# goでインストールしたghqのパスを通す
export PATH="$HOME/go/bin:$PATH"

. /home/linuxbrew/.linuxbrew/opt/asdf/libexec/asdf.sh

# Homebrew (Linuxbrew)
if [ -d "/home/linuxbrew/.linuxbrew/bin" ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
{{ end }}

# ===== Prompt =====
# カレントディレクトリを表示
export PS1='%~ %# '


# ===== Locale & language =====
export LANG=en_US.UTF-8
export LANGUAGE=en_US:en


# ===== Functions & keybindings =====
# ghq listコマンドをpecoでキーバインド。cursorで開くように設定。
function peco-src () {
  local selected_dir=$(ghq list -p | peco --prompt="repositories >" --query "$LBUFFER")
  if [ -n "$selected_dir" ]; then
    BUFFER="cursor ${selected_dir}"
    zle accept-line
  fi
  zle clear-screen
}
zle -N peco-src
bindkey '^L' peco-src

{{- if eq .chezmoi.os "linux" }}
# Windowsの1Password SSH AgentをWSLから使うためのブリッジを自動起動する処理
# npiperelay.exe が存在する環境（WSL上でWindowsを参照できる環境）だけ実行する
if command -v npiperelay.exe >/dev/null 2>&1; then

  # WSL側で使うUnixソケットのパス。ssh はここをエージェントとして参照する
  export SSH_AUTH_SOCK="$HOME/.ssh/agent.sock"

  # 一度でも失敗したらソケットを消してブリッジし直す
  if ! ssh-add -l >/dev/null 2>&1; then
    rm -f "$SSH_AUTH_SOCK"
    ~/.local/bin/1pass-ssh-bridge >/dev/null 2>&1 &
  fi
fi

{{ end }}