# ===== Aliases =====

alias sz="source ~/.zshrc"

# 1Password CLI サインインコマンドのエイリアス　
alias ops="eval \"\$(op signin)\""

alias lg="lazygit"
alias yy="yazi"

# chezmoi
alias czap="chezmoi apply"
alias czad="chezmoi add"
alias cze="chezmoi edit"
alias czu="chezmoi update"

# ls（eza）
alias ls="eza"
alias ll="eza -l"
alias la="eza -la"
alias lst="eza --tree"
alias lst1="eza --tree -L 1"
alias lst2="eza --tree -L 2"
alias lst3="eza --tree -L 3"

# cat（bat）
alias cat="bat"

