# ===== Aliases =====

# ls（eza）
alias ls="eza"
alias ll="eza -l"
alias la="eza -la"
alias lst="eza --tree --git-ignore"
alias lst1="eza --tree -L 1 --git-ignore"
alias lst2="eza --tree -L 2 --git-ignore"
alias lst3="eza --tree -L 3 --git-ignore"

# cat（bat）
alias cat="bat"
