# ===== Aliases =====

alias sz="source ~/.zshrc"

# 1Password CLI サインインコマンドのエイリアス　
alias ops="eval \"\$(op signin)\""

alias lg="lazygit"
alias yy="yazi"

# chezmoi
alias czap="chezmoi apply"
alias czad="chezmoi add"
alias cze="chezmoi edit"
alias czu="chezmoi update"
