# ===== Functions =====

# [Ctrl+N] navi: チートシート検索widgetを初期化する
if command -v navi >/dev/null 2>&1; then
  eval "$(navi widget zsh)"
fi

# [Ctrl+G] ghq+peco: リポジトリを選択してWezTermで開く
peco-src () {
  local selected_dir=$(ghq list -p | peco --prompt="repositories >" --query "$LBUFFER")
  if [ -n "$selected_dir" ]; then
{{- if eq .chezmoi.os "darwin" }}
    local cwd
    cwd="$selected_dir"

    # Weztermで開く（macOS）
    if wezterm cli list >/dev/null 2>&1; then
      BUFFER="wezterm cli spawn --cwd ${cwd:q}"
    else
      BUFFER="wezterm start --cwd ${cwd:q}"
    fi
{{- else }}
    local win_cwd
    win_cwd=$(wslpath -w "$selected_dir")

    # Weztermで開く（WSL）
    if wezterm.exe cli list >/dev/null 2>&1; then
      BUFFER="wezterm.exe cli spawn --cwd ${win_cwd:q}"
    else
      BUFFER="wezterm.exe start --cwd ${win_cwd:q}"
    fi
{{- end }}

    zle accept-line
  fi
  zle clear-screen
}
# [peco-src] zle: widgetとして登録
zle -N peco-src

# [v] fzf+nvim: fzfで選んだファイルをneovimで開く
v() {
  local f
  f="$(fzf)" || return
  [ -n "$f" ] && nvim "$f"
}

