# ===== Functions =====

# navi: チートシート検索
if command -v navi >/dev/null 2>&1; then
  eval "$(navi widget zsh)"
  bindkey '^N' _navi_widget
fi

# ghq listコマンドをpecoでキーバインド。vscodeで開くように設定。
peco-src () {
  local selected_dir=$(ghq list -p | peco --prompt="repositories >" --query "$LBUFFER")
  if [ -n "$selected_dir" ]; then
{{- if eq .chezmoi.os "darwin" }}
    local cwd
    cwd="$selected_dir"

    # Weztermで開く（macOS）
    if wezterm cli list >/dev/null 2>&1; then
      BUFFER="wezterm cli spawn --cwd ${cwd:q}"
    else
      BUFFER="wezterm start --cwd ${cwd:q}"
    fi
{{- else }}
    local win_cwd
    win_cwd=$(wslpath -w "$selected_dir")

    # Weztermで開く（WSL）
    if wezterm.exe cli list >/dev/null 2>&1; then
      BUFFER="wezterm.exe cli spawn --cwd ${win_cwd:q}"
    else
      BUFFER="wezterm.exe start --cwd ${win_cwd:q}"
    fi
{{- end }}

    zle accept-line
  fi
  zle clear-screen
}
zle -N peco-src
bindkey '^G' peco-src

# fzfで選んだファイルをneovimで開く
v() {
  local f
  f="$(fzf)" || return
  [ -n "$f" ] && nvim "$f"
}

